body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
}

html {
    overflow-y: scroll;
}

body {
    background-color: #EFEFEF;
}

h1 {
    /*color: #A9A9A9;*/
}

#logo {
    font-weight: bold;
}

.car-text {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.col {
    padding: 20px;
}

.container {
    padding: 0px;
}

.pad-20 {
    padding: 20px;
}

.jumbotron {
    background-color: #FF383F;
    color: #FFFFFF;
    border-radius: 0px;
    margin-bottom: auto;
}

.j2 {
    background-color: #CAEBF2;
    color: #393939;
    border-radius: 0px;
    margin-bottom: auto;
}

/*
#CAEBF2
#FF383F
*/